html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #f9f6ee;
}

a {
    color: black;
}

.index-container {
    width: 100%;
    max-width: 800px;
    padding: 40px;
    text-align: left;
    margin: 7rem auto;
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin: 7rem auto;
    padding: 40px;
    text-align: left;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    background-color: #fdfcfa;
    border-radius: 0px;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
}

.title img {
    height: 100px;
}

.title h1 {
    font-size: 5rem;
    margin: 0 20px 0;
    font-weight: 300;
    /*font-family: "Space Mono", monospace;*/
}

@media (max-width: 700px) {
    .title img {
        height: 50px;
    }
    
    .title h1 {
        font-size: 3rem;
        margin: 0 10px 0;
    }
}

.subtitle {
    margin: 10px 0 30px;
    font-size: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-input-group {
    display: flex;
    gap: 10px;
}

.search-input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #888;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-style: italic;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #494540;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

.search-button:hover {
    background-color: #1c1b1a;
}

@media (max-width: 700px) {
    .search-input {
        font-size: 14px;
    }

    .search-button {
        font-size: 14px;
    }
}

.download-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0 0 20px;
}

.download-input-group {
    display: flex;
    gap: 10px;
}

.download-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #888;
    border-radius: 4px;
}

.download-button {
    font-style: italic;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 15px 25px;
    font-size: 16px;
    background-color: #ddd8d1;
    color: black;
    border: 1px solid #888;
    border-radius: 4px;
    cursor: pointer;
}

.download-button:hover {
    /*text-decoration: underline;*/
    background-color: #c3baad;
}

.example-queries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.example-query {
    padding: 5px 10px;
    background-color: #ddd8d1;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    font-style: italic;
    color: black;
}

.example-query:hover {
    background-color: #b9b5b0;
}

.browse-header {
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    margin: 0 0 30px;
    color: #49403b;
}

.browse-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
}

.browse-button {
    flex: 1;
    padding: 16px;
    font-family: "Roboto Mono", monospace;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    background-color: #fdfcfa; /*#ddd8d1;*/
    color: black;
    border: 1px solid #ddd;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
}

.browse-button:hover {
    background-color: #ddd;
    /*text-decoration: underline;*/
}

@media (max-width: 700px) {
    .browse-button {
        font-size: 15px;
    }
}

.navbar {
    overflow: hidden;
    /*background-color: #e3dacdaa;*/
    color: black;
    position: absolute;
    top: 0px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 0 6px 0;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    margin: 0px 0 0px 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navbar-logo img {
    height: 56px;
    padding: 8px 0 8px;
}

.navbar-name {
    /*font-family: "Space Mono", monospace;*/
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 35px;
    padding-left: 12px;
    margin: 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .navbar-list {
        display: none;
    }
}

.navbar-list li {
    padding: 14px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navbar-list li a:hover {
    text-decoration: underline;
}

.menu-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 99999;
}

@media (min-width: 768px) {
    .menu-container {
        display: none;
    }
}

#hamburger-menu {
    cursor: pointer;
    user-select: none;
}

#hamburger-menu span {
    display: block;
    width: 35px;
    height: 3px;
    margin: 8px;
    background: #333;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 20px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: max-height 0.3s, opacity 0.3s;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 20px;
    z-index: 99999;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 15px;
    text-align: right;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: #aaaaaa;
}

.dropdown-show {
    display: block;
    max-height: 500px;
    opacity: 1;
}

.data-table-header h3 {
    margin: 25px 0 20px;
    font-size: 25px;
    font-weight: 500;
}

.data-table-container {
    max-width: 1150px;
    margin: 7rem auto;
    padding: 40px;
    border-radius: 0px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    background-color: #fdfcfa;
    box-sizing: border-box;
}

.data-table-search-div {
    max-width: 500px;
    margin: 0;
}

.data-table-search {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    font-style: italic;
    background-color: white;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.data-table th, .data-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    /*background-color: #f2f2f2;*/
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: 700;
}

.data-table-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.data-table-pagination button {
    margin-left: 10px;
    padding: 5px 12px;
    background-color: #494540;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

.data-table-pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.line {
    border-top: 1px dotted #888;
}

.entry-content h2 {
    font-size: 40px;
    margin: 0;
    color: #49403b;
}

.entry-content h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 3px 0 8px;
}

.entry-table {
    border-collapse: collapse;
    max-width: 100%;
    margin: 10px 0 10px;
    table-layout: fixed;
    border-spacing: 0 12px;
    border-collapse: separate;
}

.entry-table th, .entry-table td {
    border: 0px solid #ddd;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.entry-table th {
    text-align: left;
    font-weight: 400;
    padding: 6px 15px 6px 0px;
    border-right: 1px solid black;
    max-width: 190px;
}

.entry-table td {
    padding: 6px 0px 6px 13px;
}

.entry-database-text {
    font-size: 18px;
    margin: 0;
}

.entry-database-link {
    font-weight: 700;
    text-decoration: none;
}

.entry-database-link:hover {
    text-decoration: underline;
}

.prompt-section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.prompt-section h3 {
    margin-top: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.generated-seq {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #f9f6eedd;
    z-index: 9999;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid #ddd8d1;
    border-top: 3px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.loading-text {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

#footer {
    margin: 0 5px 0;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer-content img {
    height: 65px;
    margin: 10px;
}

.footer-content p {
    text-align: left;
    margin: 0;
}

.about-container {
    display: flex;
    justify-content: center;
    max-width: 1150px;
    margin: 7rem auto;
    padding: 20px;
}

.about-content {
    flex: 3;
    padding: 0px;
    max-width: 600px;
    margin-left: -200px;
}

.about-content p {
    font-size: 15px;
}


@media (max-width: 980px) {
    .about-content {
        margin: 10px;
    }
}

.about-toc {
    position: fixed;
    top: 150px;
    padding: 30px 30px 20px 30px;
    background-color: #fdfcfa;
    border: 1px solid #ccc;
    border-radius: 4px;
    transform: translateX(360px);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 980px) {
    .about-toc {
        display: none;
    }
}

.about-toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-toc li {
    margin-bottom: 10px;
}

.about-toc a {
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline;
}
